   <div id="galleria">
    {{#each episodes}}
    <a href="/episodes/pictures/{{this.file}}">
        <img 
             src="/episodes/pictures/{{this.file}}",
             data-big="/episodes/pictures/{{this.file}}"
             data-title="{{this.text}}"
             data-date="{{this.date}}"
             >
    </a>
    {{/each}}
</div>